<div *ngIf="isLoading; else autoresLoaded">
  <p class="text-center text-gray-500">Carregando autores...</p>
</div>

<ng-template #autoresLoaded>
  <div
    *ngIf="autores.length > 0; else noAutores"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4"
    [@fadeInList]
  >
    <div
      *ngFor="let autor of autores"
      class="bg-white rounded-lg shadow-lg p-4 hover:shadow-2xl transition-shadow duration-300 autor-item"
      [@fadeInList]
    >
      <img
        src="https://s2.glbimg.com/Ecj1Ne9SZuc5gQzJC44S96yPUhk=/e.glbimg.com/og/ed/f/original/2019/05/17/machado_de_assis_real.jpg"
        alt="Capa do Livro"
        class="w-full h-40 object-contain rounded-md mb-4"
      />
      <h3 class="text-xl font-semibold text-gray-800">{{ autor.nome }}</h3>
      <p class="text-gray-600 text-sm">
        <strong>Data de Nascimento:</strong> {{ autor.dataNascimento }}
      </p>
      <p class="text-gray-600 text-sm">
        <strong>Nacionalidade:</strong> {{ autor.nacionalidade }}
      </p>

      <div *ngIf="autor.livros?.length > 0" class="mt-4">
        <h4 class="text-lg font-semibold text-gray-700">Livros:</h4>
        <ul class="list-disc pl-5">
          <li *ngFor="let livro of autor.livros" class="text-gray-600 text-sm">
            {{ livro.titulo }} - {{ livro.isbn }}
          </li>
        </ul>
      </div>

      <div class="flex gap-2 mt-4">
        <button
          class="flex-1 bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition-colors duration-200"
        >
          Ver Livros
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noAutores>
  <p class="text-center text-gray-500">Nenhum autor encontrado.</p>
</ng-template>
