<main class="min-h-screen flex flex-col">
  <div class="flex-grow pt-5 flex flex-col overflow-hidden">
    <div class="component-container flex-grow overflow-auto pb-20">
      <!-- Componente Div fixo -->
      <app-div
        (livrosAtualizados)="atualizarLivros($event)"
        (componenteAlterado)="componenteAtual = $event"
      ></app-div>

      <app-home *ngIf="componenteAtual === 'home'" />
      <!-- O conteúdo que será exibido abaixo da Div fixa -->
      <div class="flex-grow overflow-auto pb-20">
        <app-livro
          *ngIf="componenteAtual === 'livros'"
          (livrofiltro)="exibirDetalhes($event)"
          (componenteAlterado)="componenteAtual = $event"
        ></app-livro>
        <app-finalizarpedido
          *ngIf="componenteAtual === 'finalizarpedido'"
        ></app-finalizarpedido>
        <app-autor *ngIf="componenteAtual === 'autores'"></app-autor>
        <app-editora *ngIf="componenteAtual === 'editora'"></app-editora>
        <app-livrosdetalhes
          *ngIf="componenteAtual === 'detalhesLivro'"
          [livroId]="livrofiltro"
          (voltar)="componenteAtual = 'livros'"
        ></app-livrosdetalhes>
        <app-perfil *ngIf="componenteAtual === 'perfil'" />
        <app-livrolistafilter
          *ngIf="componenteAtual === 'filter'"
          [livros]="livros"
        ></app-livrolistafilter>
        <app-favoritos *ngIf="componenteAtual === 'favoritos'"></app-favoritos>
      </div>
    </div>
  </div>

  <app-footer class="mt-auto"></app-footer>
</main>
