<div class="container mx-auto p-6 space-y-8">
  <!-- Perfil -->
  <div
    class="bg-white p-6 rounded-lg shadow-lg animate__animated animate__fadeIn"
  >
    <h2 class="text-2xl font-semibold text-gray-800">Meu Perfil</h2>

    <div class="flex space-x-4 mt-4">
      <div class="w-24 h-24 rounded-full bg-gray-200">
        <img
          src="https://via.placeholder.com/150"
          alt="Foto de Perfil"
          class="w-full h-full rounded-full object-cover"
        />
      </div>

      <div class="flex flex-col justify-center">
        <div *ngIf="!editando">
          <p class="text-lg font-medium text-gray-900">{{ usuario.nome }}</p>
          <p class="text-sm text-gray-600">{{ usuario.email }}</p>
          <p class="text-sm text-gray-600">CPF: {{ usuario.cpf }}</p>
          <p class="text-sm text-gray-600">
            Data de Nascimento: {{ usuario.dataNascimento }}
          </p>
          <button
            class="mt-2 text-blue-500 hover:text-blue-700 transition-all cursor-pointer"
            (click)="editando = true"
          >
            Editar Perfil
          </button>
          <button
            class="mt-2 text-red-500 hover:text-red-700 transition-all cursor-pointer ml-4"
            (click)="abrirModalAlterarSenha()"
          >
            Alterar Senha
          </button>
        </div>

        <div *ngIf="editando">
          <input
            class="border p-2 rounded w-full mb-2"
            [(ngModel)]="usuario.nome"
            placeholder="Nome"
          />
          <input
            class="border p-2 rounded w-full mb-2"
            [(ngModel)]="usuario.email"
            placeholder="E-mail"
          />
          <input
            class="border p-2 rounded w-full mb-2"
            [(ngModel)]="usuario.cpf"
            placeholder="CPF"
          />
          <input
            class="border p-2 rounded w-full mb-2"
            [(ngModel)]="usuario.dataNascimento"
            type="date"
          />

          <button
            class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 transition-all"
            (click)="salvarEdicao()"
          >
            Salvar
          </button>
          <button
            class="bg-gray-400 text-white px-4 py-2 rounded ml-2 hover:bg-gray-600 transition-all"
            (click)="editando = false"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Alteração de Senha -->
  <div
    *ngIf="showAlterarSenhaModal"
    class="fixed inset-0 flex items-center justify-center bg-opacity-10 backdrop-blur-md"
  >
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h2 class="text-xl font-semibold text-gray-800">Alterar Senha</h2>

      <input
        class="border p-2 rounded w-full mb-2"
        [(ngModel)]="senhaAtual"
        type="password"
        placeholder="Senha Atual"
      />
      <input
        class="border p-2 rounded w-full mb-2"
        [(ngModel)]="novaSenha"
        type="password"
        placeholder="Nova Senha"
      />
      <input
        class="border p-2 rounded w-full mb-2"
        [(ngModel)]="confirmarSenha"
        type="password"
        placeholder="Confirmar Nova Senha"
      />

      <div class="flex justify-end">
        <button
          class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 transition-all"
          (click)="alterarSenha()"
        >
          Confirmar
        </button>
        <button
          class="bg-gray-400 text-white px-4 py-2 rounded ml-2 hover:bg-gray-600 transition-all"
          (click)="fecharModalAlterarSenha()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>

  <div
    class="bg-white p-6 rounded-lg shadow-lg animate__animated animate__fadeIn"
  >
    <h2 class="text-2xl font-semibold text-gray-800">Meus Pedidos</h2>
    <div class="mt-4 space-y-4">
      <div class="border p-4 rounded-lg flex justify-between items-center">
        <p class="text-gray-800">Pedido #12345</p>
        <p class="text-gray-500">Data: 12/02/2025</p>
        <button
          class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition-all"
        >
          Ver Detalhes
        </button>
      </div>
      <div class="border p-4 rounded-lg flex justify-between items-center">
        <p class="text-gray-800">Pedido #12346</p>
        <p class="text-gray-500">Data: 13/02/2025</p>
        <button
          class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition-all"
        >
          Ver Detalhes
        </button>
      </div>
    </div>
  </div>
  <!-- Endereços -->
  <div
    class="bg-white p-6 rounded-lg shadow-lg animate__animated animate__fadeIn"
  >
    <h2 class="text-2xl font-semibold text-gray-800">Meus Endereços</h2>
    <div class="mt-4 space-y-4">
      <!-- Lista de Endereços -->
      <div
        *ngFor="let endereco of enderecos"
        class="border p-4 rounded-lg flex justify-between items-center"
      >
        <div>
          <p class="text-gray-800">
            {{ endereco.logradouro }}, {{ endereco.complemento }},
            {{ endereco.bairro }}, {{ endereco.localidade }}
            {{ endereco.uf }}
          </p>
          <p class="text-sm text-gray-600">{{ endereco.cep }}</p>
        </div>
        <div class="flex space-x-4">
          <button
            class="text-blue-500 hover:text-blue-700 transition-all"
            (click)="editarEndereco(endereco)"
          >
            Editar
          </button>
          <button
            class="text-red-500 hover:text-red-700 transition-all"
            (click)="deletarEndereco(endereco.id)"
          >
            Excluir
          </button>
        </div>
      </div>
    </div>

    <!-- Botão Adicionar Novo Endereço -->
    <button
      class="mt-4 bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-700 transition-all"
      (click)="abrirModalNovoEndereco()"
    >
      Adicionar Novo Endereço
    </button>

    <!-- Modal Novo Endereço -->
    <div
      *ngIf="showModalNovoEndereco"
      class="fixed inset-0 flex items-center justify-center bg-opacity-10 backdrop-blur-md backdrop-blur-md transition-all animate__animated animate__fadeIn"
    >
      <div class="bg-white p-6 rounded-xl shadow-lg w-96">
        <h2 class="text-xl font-semibold text-gray-800">Novo Endereço</h2>

        <div class="space-y-4 mt-4">
          <!-- CEP -->
          <input
            class="border p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all"
            [(ngModel)]="novoEndereco.cep"
            (blur)="buscarCep()"
            placeholder="CEP"
          />

          <!-- Rua -->
          <input
            class="border p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all"
            [(ngModel)]="novoEndereco.logradouro"
            placeholder="Rua"
            [readonly]="!novoEndereco.logradouro"
            [disabled]="true"
          />

          <!-- Número -->
          <input
            class="border p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all"
            [(ngModel)]="novoEndereco.complemento"
            placeholder="Complemento"
          />

          <input
            class="border p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all"
            [(ngModel)]="novoEndereco.bairro"
            placeholder="Bairro"
            [disabled]="true"
          />
          <!-- Cidade -->
          <input
            class="border p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all"
            [(ngModel)]="novoEndereco.localidade"
            placeholder="Cidade"
            [disabled]="true"
          />

          <!-- Estado -->
          <input
            class="border p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all"
            [(ngModel)]="novoEndereco.uf"
            placeholder="Estado"
            [disabled]="true"
          />

          <div class="flex justify-end mt-4">
            <button
              class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 transition-all"
              (click)="salvarEndereco()"
            >
              Salvar
            </button>
            <button
              class="bg-gray-400 text-white px-4 py-2 rounded ml-2 hover:bg-gray-600 transition-all"
              (click)="fecharModalNovoEndereco()"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
