nav {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        gap: 1rem;

        li a {
            color: white;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: gray;
            }
        }
    }
}

button {
    cursor: pointer;
}