<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="p-6 bg-white rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-bold text-gray-800 text-center mb-4">
      Redefinir Senha
    </h2>

    <form [formGroup]="resetForm" (ngSubmit)="submit()" class="space-y-4">
      <label class="block">
        <span class="text-gray-700">Nova Senha</span>
        <input
          type="password"
          formControlName="senha"
          class="mt-1 block w-full p-3 border rounded-lg focus:ring focus:ring-blue-400 focus:outline-none shadow-sm"
          placeholder="Digite sua nova senha"
        />
      </label>

      <label class="block">
        <span class="text-gray-700">Confirmar Nova Senha</span>
        <input
          type="password"
          formControlName="confirmarSenha"
          class="mt-1 block w-full p-3 border rounded-lg focus:ring focus:ring-blue-400 focus:outline-none shadow-sm"
          placeholder="Confirme sua nova senha"
        />
      </label>

      <button
        type="submit"
        class="w-full px-4 py-3 text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition-all shadow-md hover:shadow-lg cursor-pointer"
      >
        Alterar Senha
      </button>
    </form>
  </div>
</div>
