<div class="p-6 bg-white rounded-xl shadow-lg w-96 relative">
  <h2 class="text-xl font-semibold text-gray-800 text-center mb-4">
    Recuperar Senha
  </h2>
  <p class="text-gray-600 text-center mb-4">
    Informe seu e-mail para receber o link de recuperação de senha.
  </p>

  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="enviar()"
    class="space-y-4"
  >
    <label class="block">
      <span class="text-gray-700 font-medium">Email</span>
      <input
        type="email"
        formControlName="email"
        class="mt-1 block w-full p-3 border rounded-lg focus:ring focus:ring-blue-400 focus:outline-none shadow-sm"
        placeholder="Digite seu email"
      />
    </label>

    <button
      type="submit"
      class="w-full px-4 py-3 text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition-all shadow-md hover:shadow-lg cursor-pointer"
    >
      Enviar
    </button>
  </form>

  <button
    type="button"
    (click)="fechar()"
    class="w-full px-4 py-3 text-gray-600 border mt-3 rounded-lg hover:bg-gray-100 transition-all shadow-md hover:shadow-lg cursor-pointer"
  >
    Cancelar
  </button>
</div>
