<div class="max-w-4xl mx-auto p-8 bg-white shadow-lg rounded-xl">
  <h2 class="text-3xl font-bold mb-8 text-gray-900">Finalizar Pedido</h2>

  <!-- Dados do Usuário -->
  <div class="mb-8 p-6 border rounded-lg bg-gray-50 shadow-md">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Dados do Cliente</h3>
    <p class="text-gray-700"><strong>Nome:</strong> {{ usuario.nome }}</p>
    <p class="text-gray-700"><strong>Email:</strong> {{ usuario.email }}</p>
    <p class="text-gray-700"><strong>CPF:</strong> {{ usuario.cpf }}</p>
    <p class="text-gray-700">
      <strong>Data de Nascimento:</strong> {{ usuario.dataNascimento }}
    </p>
  </div>

  <!-- Endereços -->
  <div class="mb-8 p-6 border rounded-lg bg-gray-50 shadow-md">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">
      Endereços de Entrega
    </h3>
    <ul class="space-y-2">
      <li *ngFor="let endereco of enderecos" class="text-gray-700">
        <p>
          {{ endereco.logradouro }}, {{ endereco.complemento }}<br />
          {{ endereco.bairro }}, {{ endereco.localidade }} - {{ endereco.uf }}
        </p>
      </li>
    </ul>
  </div>

  <!-- Itens do Carrinho -->
  <div class="mb-8 p-6 border rounded-lg bg-gray-50 shadow-md">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Itens do Pedido</h3>
    <ul class="space-y-4">
      <li
        *ngFor="let item of itensCarrinho"
        class="flex justify-between items-center py-4 border-b"
      >
        <div>
          <p class="text-gray-800 font-semibold">{{ item.titulo }}</p>
          <p class="text-gray-600 text-sm">Quantidade: {{ item.quantidade }}</p>
        </div>
        <p class="text-gray-800 font-semibold">
          R$ {{ item.preco | number : "1.2-2" }}
        </p>
      </li>
    </ul>
  </div>

  <!-- Finalizar Compra -->
  <div class="text-center">
    <button
      (click)="finalizarCompra()"
      class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 transition duration-300"
    >
      Gerar QR Code
    </button>
  </div>

  <!-- Exibição do QR Code -->
  <div *ngIf="qrCodeUrl" class="mt-8 text-center">
    <h3 class="text-2xl font-semibold mb-4 text-gray-800">
      QR Code para Pagamento
    </h3>
    <img
      [src]="qrCodeUrl"
      alt="QR Code de Pagamento"
      class="mx-auto w-64 h-64 rounded-lg shadow-md"
    />
  </div>
</div>
