<div *ngIf="isLoading" class="flex justify-center items-center min-h-screen">
  <div
    class="animate-spin rounded-full h-8 w-8 md:h-12 md:w-12 border-t-2 border-b-2 border-[#063831]"
  ></div>
</div>

<div *ngIf="!isLoading" class="mt-5 md:mt-20">
  <!-- Slider Principal -->
  <swiper-container
    pagination="true"
    pagination-dynamic-bullets="true"
    autoplay-delay="2500"
  >
    <swiper-slide
      *ngFor="let slide of slides; let i = index"
      class="transition-opacity flex-shrink-0 duration-10 ease-in-out opacity-100 scale-100"
    >
      <img
        [src]="slide.src"
        [alt]="slide.title"
        class="w-full h-[200px] md:h-[280px] object-cover"
        loading="lazy"
      />
    </swiper-slide>
  </swiper-container>

  <!-- Seções de Swiper -->
  <div class="px-4 md:px-0">
    <!-- Autores -->
    <div
      class="relative flex flex-col items-center py-6 md:py-12 bg-transparent"
    >
      <h2 class="text-2xl md:text-3xl font-bold text-[#063831] mb-2">
        Autores
      </h2>
      <swiper-container
        class="w-full"
        slides-per-view="auto"
        breakpoints='{
          "320": {"slidesPerView": 2.2, "spaceBetween": 10},
          "640": {"slidesPerView": 3.2, "spaceBetween": 15},
          "768": {"slidesPerView": 4.2, "spaceBetween": 20},
          "1024": {"slidesPerView": 6, "spaceBetween": 20}
        }'
      >
        <swiper-slide
          *ngFor="let autor of autoresExibidos"
          class="flex flex-col items-center rounded-lg"
        >
          <img
            [src]="autor.img"
            [alt]="autor.nome"
            class="w-24 h-24 md:w-40 md:h-40 rounded-full object-cover mb-1 border-4 border-[#f4ebd0]"
          />
          <h4 class="text-xl font-semibold text-[#b68d40] text-center">
            {{ autor.nome }}
          </h4>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Livros Mais Vendidos -->
    <div
      class="relative flex flex-col items-center py-6 md:py-12 bg-transparent"
    >
      <h2
        class="text-2xl md:text-3xl font-bold text-[#063831] mb-4 text-center"
      >
        Livros Mais Vendidos no Brasil!
      </h2>
      <swiper-container
        class="w-full"
        slides-per-view="auto"
        breakpoints='{
          "320": {"slidesPerView": 1.2, "spaceBetween": 10},
          "640": {"slidesPerView": 2.2, "spaceBetween": 15},
          "768": {"slidesPerView": 3.2, "spaceBetween": 20},
          "1024": {"slidesPerView": 4, "spaceBetween": 20}
        }'
      >
        <swiper-slide
          *ngFor="let livro of livros"
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            [src]="livro.img"
            [alt]="livro.nome"
            class="w-40 h-52 md:w-64 md:h-80 object-cover mb-2 md:mb-4 rounded-md border-4 border-[#f4ebd0] cursor-pointer"
            (click)="selecionarLivro(livro.id)"
          />

          <h4 class="text-xl font-semibold text-[#063831] text-center mb-2">
            {{ livro.titulo }}
          </h4>

          <button
            class="bg-[#b68d40] text-white px-6 py-2 rounded-lg text-lg font-medium hover:bg-[#946c30] transition cursor-pointer"
            (click)="adicionarLivroAoCarrinho(livro.id)"
          >
            Comprar R$ {{ livro.preco }}
          </button>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Editoras -->
    <div
      class="relative flex flex-col items-center py-6 md:py-12 bg-transparent"
    >
      <h2 class="text-2xl md:text-3xl font-bold text-[#063831] mb-2">
        Editoras
      </h2>
      <swiper-container
        class="w-full"
        slides-per-view="auto"
        breakpoints='{
          "320": {"slidesPerView": 2.2, "spaceBetween": 10},
          "640": {"slidesPerView": 3.2, "spaceBetween": 15},
          "768": {"slidesPerView": 4.2, "spaceBetween": 20},
          "1024": {"slidesPerView": 6, "spaceBetween": 20}
        }'
      >
        <swiper-slide
          *ngFor="let editora of editoras"
          class="flex flex-col items-center rounded-lg p-6"
        >
          <img
            [src]="editora.img"
            [alt]="editora.nome"
            class="w-24 h-24 md:w-40 md:h-40 rounded-full object-cover mb-1 border-4 border-[#f4ebd0]"
          />
          <h4 class="text-xl font-semibold text-[#b68d40] text-center">
            {{ editora.nome }}
          </h4>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Livros de Tecnologia -->
    <div
      class="relative flex flex-col items-center py-6 md:py-12 bg-transparent"
    >
      <h2
        class="text-2xl md:text-3xl font-bold text-[#063831] mb-4 text-center"
      >
        Livros de Tecnologia!
      </h2>
      <swiper-container
        class="w-full"
        slides-per-view="auto"
        breakpoints='{
          "320": {"slidesPerView": 1.2, "spaceBetween": 10},
          "640": {"slidesPerView": 2.2, "spaceBetween": 15},
          "768": {"slidesPerView": 3.2, "spaceBetween": 20},
          "1024": {"slidesPerView": 4, "spaceBetween": 20}
        }'
      >
        <swiper-slide
          *ngFor="let livro of livrotec"
          class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg"
        >
          <img
            [src]="livro.img"
            [alt]="livro.nome"
            class="w-40 h-52 md:w-64 md:h-80 object-cover mb-2 md:mb-4 rounded-md border-4 border-[#f4ebd0] cursor-pointer"
            (click)="selecionarLivro(livro.id)"
          />

          <h4 class="text-xl font-semibold text-[#063831] text-center mb-2">
            {{ livro.titulo }}
          </h4>

          <button
            class="bg-[#b68d40] text-white px-6 py-2 rounded-lg text-lg font-medium hover:bg-[#946c30] transition cursor-pointer"
            (click)="adicionarLivroAoCarrinho(livro.id)"
          >
            Comprar R$ {{ livro.preco }}
          </button>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>
