<app-filter (filtrar)="onFiltrar($event)"></app-filter>
<link
  href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap"
  rel="stylesheet"
/>

<div
  *ngIf="livros.length > 0; else loading"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4"
  [@fadeInList]
>
  <div
    *ngFor="let livro of livros"
    class="bg-white rounded-lg shadow-lg p-1 hover:shadow-2xl transition-shadow duration-300"
  >
    <!-- Imagem do Livro com Estrela no Canto Superior Direito -->
    <div class="relative">
      <img
        src="https://m.media-amazon.com/images/I/918C7lDsw5L._AC_UF1000,1000_QL80_.jpg"
        alt="Capa do Livro"
        class="w-full h-40 object-contain rounded-md mb-4 cursor-pointer"
        (click)="selecionarLivro(livro.id)"
      />

      <!-- Estrela no canto superior direito -->
      <button
        (click)="favoritarLivro(livro)"
        class="teste absolute top-2 right-2 transition-transform duration-200 hover:scale-110 bg-transparent hover:bg-transparent"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 transition-opacity duration-200 hover:opacity-50"
          [attr.fill]="livro.favorito ? 'red' : 'none'"
          [attr.stroke]="livro.favorito ? 'red' : 'black'"
          viewBox="0 0 24 24"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
          />
        </svg>
      </button>
    </div>

    <div class="text-center">
      <h3 class="text-2xl font-bold text-gray-900 tracking-wide">
        {{ livro.titulo }}
      </h3>

      <p class="league-spartan text-lg text-gray-700 font-semibold mt-2">
        <strong class="text-gray-900">Preço: </strong>
        <span class="text-green-600"
          >R$ {{ livro.preco | number : "1.2-2" }}</span
        >
      </p>
    </div>

    <div class="flex gap-2 mt-4">
      <button
        (click)="adicionarLivroAoCarrinho(livro.id)"
        class="league-spartan flex items-center justify-center gap-2 flex-1 bg-[#f4ebd0] text-black py-2 rounded-lg hover:bg-[#063831] transition-colors duration-200"
      >
        <img src="assets/img/cart.png" alt="Carrinho" class="w-6 h-6" />
        Comprar
      </button>
    </div>
  </div>
</div>
<h2
  class="league-spartan flex items-center justify-center text-3xl font-bold my-6 font-spartan"
>
  Melhores Autores de todos os Tempos!
</h2>

<div
  class="carousel-container relative w-[800px] h-[400px] overflow-hidden mx-auto border-none"
>
  <div
    class="carousel-inner flex transition-transform duration-500 ease-in-out w-full h-full"
    [style.transform]="'translateX(' + offset + '%)'"
  >
    <!-- Autor 1 -->
    <div class="carousel-item w-1/3 flex-shrink-0 text-center">
      <img
        src="assets/autores/clarice.jpg"
        alt="Clarice"
        class="w-full h-3/4 object-cover rounded-lg shadow-lg"
      />
      <h3 class="league-spartan text-lg font-semibold mt-2">
        Clarice Lispector
      </h3>
    </div>

    <!-- Autor 2 -->
    <div class="carousel-item w-1/3 flex-shrink-0 text-center">
      <img
        src="assets/autores/carlos.jpg"
        alt="Carlos"
        class="w-full h-3/4 object-cover rounded-lg shadow-lg"
      />
      <h3 class="league-spartan text-lg font-semibold mt-2">Carlos Drummond</h3>
    </div>

    <!-- Autor 3 -->
    <div class="carousel-item w-1/3 flex-shrink-0 text-center">
      <img
        src="assets/autores/machado.jpg"
        alt="Machado"
        class="w-full h-3/4 object-cover rounded-lg shadow-lg"
      />
      <h3 class="league-spartan text-lg font-semibold mt-2">
        Machado de Assis
      </h3>
    </div>

    <!-- Autor 4 -->
    <div class="carousel-item w-1/3 flex-shrink-0 text-center">
      <img
        src="assets/autores/monteiro.jpg"
        alt="Monteiro"
        class="w-full h-3/4 object-cover rounded-lg shadow-lg"
      />
      <h3 class="text-lg font-semibold mt-2">Monteiro Lobato</h3>
    </div>
  </div>

  <!-- Botões de navegação -->
  <button
    class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full"
    (click)="prev()"
  >
    &lt;
  </button>
  <button
    class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full"
    (click)="next()"
  >
    &gt;
  </button>
</div>

<ng-template #loading>
  <div class="text-center text-gray-500">
    <div class="animate-pulse space-y-4">
      <div class="w-3/4 h-6 bg-gray-300 rounded"></div>
      <div class="w-1/2 h-6 bg-gray-300 rounded"></div>
      <div class="w-3/4 h-6 bg-gray-300 rounded"></div>
    </div>
    <p>Carregando livros...</p>
  </div></ng-template
>
