.league-spartan {
    font-family: 'League Spartan', sans-serif;
}

.carousel-inner {
    transition: transform 0.5s ease-in-out;
}



.swiper {
    width: 100%;
    height: 100%;
}

.carousel-item {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.carousel-container {
    animation: fadeIn 1s ease-in-out;
}

.carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Efeito de Parallax na imagem */
.carousel-item img {
    transition: transform 0.3s ease-out;
}

.carousel-item:hover img {
    transform: scale(1.05);
}