/* Contêiner principal para os componentes */
.component-container {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    /* Organiza os componentes na vertical */
    gap: 100px;
    /* Espaço entre os componentes */
    padding: 20px;
    align-items: stretch;
    /* Garante que os componentes se estiquem ao longo da largura */
}

/* Garante que cada componente ocupe 100% da largura do contêiner */


/* Certifique-se de que o main ocupe toda a altura disponível */
main {
    display: flex;
    flex-direction: column;
    height: 100%;
}