<main class="min-h-screen flex flex-col">
  <div class="flex-grow pt-5 flex flex-col overflow-hidden">
    <div class="component-container flex-grow overflow-auto">
      <app-div
        (livrosAtualizados)="atualizarLivros($event)"
        (componenteAlterado)="componenteAtual = $event"
      ></app-div>

      <app-home
        class="pt-10"
        *ngIf="componenteAtual === 'home'"
        (livrofiltro)="exibirDetalhes($event)"
        (componenteAlterado)="componenteAtual = $event"
      />

      <div class="flex-grow overflow-auto pt-10">
        <app-livro
          *ngIf="componenteAtual === 'livros'"
          (livrofiltro)="exibirDetalhes($event)"
          (componenteAlterado)="componenteAtual = $event"
        ></app-livro>
        <app-finalizarpedido
          *ngIf="componenteAtual === 'finalizarpedido'"
        ></app-finalizarpedido>
        <app-autor
          (livrosAtualizados)="atualizarLivros($event)"
          (autorid)="detalhesautor($event)"
          *ngIf="componenteAtual === 'autores'"
          (componenteAlterado)="componenteAtual = $event"
        ></app-autor>
        <app-autordetalhes
          *ngIf="componenteAtual === 'autordetalhes'"
          [autorid]="autorid"
          (voltar)="componenteAtual = 'autores'"
          (componenteAlterado)="componenteAtual = $event"
        ></app-autordetalhes>
        <app-editora
          (livrosAtualizados)="atualizarLivros($event)"
          (componenteAlterado)="componenteAtual = $event"
          *ngIf="componenteAtual === 'editora'"
        ></app-editora>
        <app-livrosdetalhes
          *ngIf="componenteAtual === 'detalhesLivro'"
          [livroId]="livrofiltro"
          (voltar)="componenteAtual = 'livros'"
        ></app-livrosdetalhes>
        <app-perfil *ngIf="componenteAtual === 'perfil'" />
        <app-livrolistafilter
          *ngIf="componenteAtual === 'filter'"
          [livros]="livros"
          (livrofiltro)="exibirDetalhes($event)"
          (componenteAlterado)="componenteAtual = $event"
        ></app-livrolistafilter>
        <app-favoritos *ngIf="componenteAtual === 'favoritos'"></app-favoritos>
        <app-sobre *ngIf="componenteAtual === 'sobre'"></app-sobre>
      </div>
    </div>
  </div>

  <app-footer class="mt-auto"></app-footer>
</main>
