/* Adicionando ao seu arquivo de estilos global ou no componente */

a {
    cursor: pointer;
}

/* Estilos para os links */
a.router-link-active {
    color: #0000ff;
    /* Mude para a cor desejada ao link ser clicado */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes typing {
    0% {
        content: "";
    }

    10% {
        content: "L";
    }

    20% {
        content: "Li";
    }

    30% {
        content: "Liv";
    }

    40% {
        content: "Livr";
    }

    50% {
        content: "Livra";
    }

    60% {
        content: "Livrar";
    }

    70% {
        content: "Livrari";
    }

    80% {
        content: "Livraria";
    }

    90% {
        content: "LivrariaW";
    }

    100% {
        content: "LivrariaWeb";
    }
}

.animated-text::after {
    content: "";
    animation: typing 2s steps(10) forwards;
}