/* Adicionando ao seu arquivo de estilos global ou no componente */

a {
    cursor: pointer;
}

/* Estilos para os links */
a.router-link-active {
    color: #0000ff;
    /* Mude para a cor desejada ao link ser clicado */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes typing {
    0% {
        content: "";
    }

    10% {
        content: "L";
    }

    20% {
        content: "Li";
    }

    30% {
        content: "Liv";
    }

    40% {
        content: "Livr";
    }

    50% {
        content: "Livra";
    }

    60% {
        content: "Livrar";
    }

    70% {
        content: "Livrari";
    }

    80% {
        content: "Livraria";
    }

    90% {
        content: "LivrariaW";
    }

    100% {
        content: "LivrariaWeb";
    }
}

.animated-text::after {
    content: "";
    animation: typing 2s steps(10) forwards;
}

/* styles.css ou styles.scss */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
}

/* Estilos base do botão */
.login-button {
    background: linear-gradient(45deg, #063831, #b68d40);
    /* Gradiente com as cores fornecidas */
    color: #f4ebd0;
    /* Cor do texto */
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    /* Bordas arredondadas */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

/* Efeito ao passar o mouse */
.login-button:hover {
    background: linear-gradient(45deg, #b68d40, #063831);
    /* Inverte o gradiente */
    transform: scale(1.05);
    /* Aumenta ligeiramente o botão */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Sombra mais intensa */
}

/* Efeito de brilho animado */
.login-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(244, 235, 208, 0.4), transparent 70%);
    /* Brilho com a cor #f4ebd0 */
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-in-out;
    pointer-events: none;
}

.login-button:hover::after {
    transform: translate(-50%, -50%) scale(1);

}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.login-button:active {
    animation: pulse 0.3s ease-in-out;

}