<div *ngIf="isLoading" class="flex justify-center items-center min-h-screen">
  <div
    class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-[#063831]"
  ></div>
</div>

<div
  *ngIf="!isLoading"
  class="flex items-center justify-center min-h-screen bg-gray-100 p-0"
>
  <div class="bg-white shadow-xl rounded-lg overflow-hidden max-w-6xl w-full">
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 p-6">
        <!-- Aqui você pode colocar uma imagem do autor se disponível -->
        <img
          [src]="autor.img"
          alt="Foto do Autor"
          class="w-full h-auto rounded-lg shadow-md"
        />
      </div>
      <div class="md:w-1/2 p-6">
        <h1 class="text-3xl font-bold text-gray-800 mb-4 flex items-center">
          {{ autor.nome }}
        </h1>
        <div class="space-y-4">
          <p class="text-lg text-gray-700">
            <strong>Data de Nascimento:</strong> {{ autor.dataNascimento }}
          </p>
          <p class="text-lg text-gray-700">
            <strong>Nacionalidade:</strong> {{ autor.nacionalidade }}
          </p>
          <p class="text-lg text-gray-700">
            <strong>Descrição:</strong> {{ autor.descricao }}
          </p>
        </div>
        <div class="mt-6">
          <button
            (click)="voltarParaAutores()"
            class="bg-[#063831] hover:bg-emerald-700 text-white font-bold py-3 px-6 rounded-lg transition flex-1 cursor-pointer"
          >
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
