<div class="bg-white p-8 shadow-lg rounded-xl mb-6">
  <h2 class="text-2xl font-bold text-gray-800 mb-6 flex items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 text-[#b68d40]"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="11" cy="11" r="8" />
      <line x1="21" y1="21" x2="16.65" y2="16.65" />
    </svg>
    Filtrar Livros
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="relative">
      <input
        type="text"
        [(ngModel)]="filtro.isbn"
        placeholder="Pesquisar por ISBN"
        class="w-full p-3 pl-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#b68d40] focus:border-transparent transition-shadow shadow-sm hover:shadow-md"
      />
      <i
        class="lucide lucide-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
    </div>
    <div class="relative">
      <input
        type="text"
        [(ngModel)]="filtro.titulo"
        placeholder="Pesquisar por título"
        class="w-full p-3 pl-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#b68d40] focus:border-transparent transition-shadow shadow-sm hover:shadow-md"
      />
      <i
        class="lucide lucide-book-open absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
    </div>
    <div class="relative">
      <input
        type="text"
        [(ngModel)]="filtro.autor"
        placeholder="Pesquisar por autor"
        class="w-full p-3 pl-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#b68d40] focus:border-transparent transition-shadow shadow-sm hover:shadow-md"
      />
      <i
        class="lucide lucide-user absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
    </div>
    <div class="relative">
      <select
        [(ngModel)]="filtro.genero"
        class="w-full p-3 pl-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#b68d40] focus:border-transparent transition-shadow shadow-sm hover:shadow-md"
      >
        <option value="">Selecione um Gênero</option>
        <option value="FICCAO">Ficção</option>
        <option value="NAO_FICCAO">Não Ficção</option>
        <option value="ROMANCE">Romance</option>
        <option value="FANTASIA">Fantasia</option>
        <option value="TERROR">Terror</option>
        <option value="SUSPENSE">Suspense</option>
        <option value="MISTERIO">Mistério</option>
        <option value="AVENTURA">Aventura</option>
        <option value="BIOGRAFIA">Biografia</option>
        <option value="POESIA">Poesia</option>
        <option value="DRAMA">Drama</option>
        <option value="CIENCIA">Ciência</option>
        <option value="TECNOLOGIA">Tecnologia</option>
        <option value="HISTORIA">História</option>
        <option value="FILOSOFIA">Filosofia</option>
        <option value="EDUCACAO">Educação</option>
        <option value="HQ">HQ</option>
        <option value="AUTOAJUDA">Autoajuda</option>
      </select>
      <i
        class="lucide lucide-tag absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
    </div>
    <div class="relative">
      <input
        type="number"
        [(ngModel)]="filtro.anoPublicacao"
        placeholder="Ano de publicação"
        class="w-full p-3 pl-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#b68d40] focus:border-transparent transition-shadow shadow-sm hover:shadow-md"
      />
      <i
        class="lucide lucide-calendar absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
    </div>
    <div class="relative">
      <input
        type="text"
        [(ngModel)]="filtro.nomeEditora"
        placeholder="Pesquisar por editora"
        class="w-full p-3 pl-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#b68d40] focus:border-transparent transition-shadow shadow-sm hover:shadow-md"
      />
      <i
        class="lucide lucide-user absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
    </div>
    <div class="relative">
      <input
        type="number"
        [(ngModel)]="filtro.precoMinimo"
        placeholder="Preço mínimo"
        class="w-full p-3 pl-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#b68d40] focus:border-transparent transition-shadow shadow-sm hover:shadow-md"
      />
      <i
        class="lucide lucide-user absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
    </div>
    <div class="relative">
      <input
        type="number"
        [(ngModel)]="filtro.precoMaximo"
        placeholder="Preço máximo"
        class="w-full p-3 pl-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#b68d40] focus:border-transparent transition-shadow shadow-sm hover:shadow-md"
      />
      <i
        class="lucide lucide-dollar-sign absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
      ></i>
    </div>
  </div>
</div>
<div>
  <div class="flex justify-end mt-6 gap-3">
    <button
      (click)="aplicarFiltro()"
      class="flex items-center gap-2 bg-[#b68d40] text-white px-6 py-3 rounded-lg hover:bg-[#063831] transition-all transform hover:scale-105 cursor-pointer shadow-md hover:shadow-lg"
    >
      <i class="lucide lucide-filter"></i>
      Aplicar Filtro
    </button>
    <button
      (click)="limparFiltro()"
      class="flex items-center gap-2 bg-gray-200 text-gray-800 px-6 py-3 rounded-lg hover:bg-gray-300 transition-all transform hover:scale-105 cursor-pointer shadow-md hover:shadow-lg"
    >
      <i class="lucide lucide-x"></i>
      Limpar
    </button>
  </div>
</div>
