@use "tailwindcss";
@use 'ngx-toastr/toastr';
@use "@fortawesome/fontawesome-free/css/all.css";
/* Adicione o estilo necessário para o Swiper */
@import "~swiper/swiper-bundle.min.css";

.container {
    width: 700px;
    position: relative;
    box-sizing: border-box;
}

@media(max-width: 750px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}