<!-- Fundo escuro elegante e responsivo -->
<div
  class="fixed inset-0 bg-opacity-40 backdrop-blur-md flex justify-center items-center z-50 animate-fadeIn"
>
  <!-- Caixa do Modal -->
  <div
    class="p-8 bg-[#f4ebd0] rounded-2xl shadow-2xl w-96 transform scale-95 animate-scaleIn relative border-2 border-[#b68d40]"
  >
    <!-- Botão de Fechar (X) -->
    <button
      (click)="fechar()"
      class="absolute top-4 right-4 text-gray-700 hover:text-[#b68d40] transition-all cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
    </button>

    <h2 class="text-3xl font-semibold text-[#063831] text-center mb-6">
      Cadastre-se
    </h2>

    <form [formGroup]="cadastroForm" (ngSubmit)="submit()" class="space-y-5">
      <!-- Campo Nome -->
      <label class="block">
        <span class="text-[#063831] font-medium">Nome</span>
        <input
          type="text"
          formControlName="nome"
          class="mt-1 block w-full p-3 border-2 border-[#b68d40] rounded-xl focus:ring focus:ring-[#b68d40] focus:outline-none shadow-sm bg-white"
          placeholder="Digite seu nome"
        />
        <div
          *ngIf="
            cadastroForm.controls['nome'].invalid &&
            cadastroForm.controls['nome'].touched
          "
          class="text-red-500 text-sm"
        >
          <p *ngIf="cadastroForm.controls['nome'].hasError('required')">
            Nome é obrigatório.
          </p>
          <p *ngIf="cadastroForm.controls['nome'].hasError('minlength')">
            Nome deve ter pelo menos 3 caracteres.
          </p>
        </div>
      </label>

      <!-- Campo Email -->
      <label class="block">
        <span class="text-[#063831] font-medium">Email</span>
        <input
          type="email"
          formControlName="email"
          class="mt-1 block w-full p-3 border-2 border-[#b68d40] rounded-xl focus:ring focus:ring-[#b68d40] focus:outline-none shadow-sm bg-white"
          placeholder="Digite seu email"
        />
        <div
          *ngIf="
            cadastroForm.controls['email'].invalid &&
            cadastroForm.controls['email'].touched
          "
          class="text-red-500 text-sm"
        >
          <p *ngIf="cadastroForm.controls['email'].hasError('required')">
            Email é obrigatório.
          </p>
          <p *ngIf="cadastroForm.controls['email'].hasError('email')">
            Por favor, insira um email válido.
          </p>
          <p *ngIf="cadastroForm.controls['email'].hasError('pattern')">
            O email deve conter o caractere .
          </p>
        </div>
      </label>

      <!-- Campo Senha -->
      <label class="block">
        <span class="text-[#063831] font-medium">Senha</span>
        <input
          type="password"
          formControlName="senha"
          class="mt-1 block w-full p-3 border-2 border-[#b68d40] rounded-xl focus:ring focus:ring-[#b68d40] focus:outline-none shadow-sm bg-white"
          placeholder="Digite sua senha"
        />
        <div
          *ngIf="
            cadastroForm.controls['senha'].invalid &&
            cadastroForm.controls['senha'].touched
          "
          class="text-red-500 text-sm"
        >
          <p *ngIf="cadastroForm.controls['senha'].hasError('required')">
            Senha é obrigatória.
          </p>
          <p *ngIf="cadastroForm.controls['senha'].hasError('minlength')">
            Senha deve ter pelo menos 6 caracteres.
          </p>
        </div>
      </label>
      <!-- Botão de Cadastro -->
      <button
        type="submit"
        class="w-full px-4 py-3 text-white bg-[#063831] rounded-xl hover:bg-[#b68d40] transition-all shadow-md hover:shadow-lg cursor-pointer"
      >
        Cadastrar
      </button>
    </form>

    <!-- Alternativa para Login -->
    <p class="text-center text-[#063831] mt-5">Já tem uma conta?</p>
    <div class="flex justify-center mt-4">
      <button
        (click)="abrirLogin()"
        type="button"
        class="w-full px-4 py-3 text-[#063831] border-2 border-[#063831] rounded-xl hover:bg-[#063831] hover:text-white transition-all shadow-md hover:shadow-lg cursor-pointer"
      >
        Faça seu Login
      </button>
    </div>
  </div>
</div>
